Repository ansible-collections/kubernetes.core, pull requests merged in 2023-11, with the labels that each got.

#657 helm - fix issue for helm command when chart contains space into its name
  .github/workflows/integration-tests.yaml
  changelogs/fragments/20231110-helm-quote-ref.yaml
  plugins/modules/helm.py
  tests/integration/targets/helm/defaults/main.yml
  tests/integration/targets/helm/tasks/run_test.yml
  tests/integration/targets/helm/tasks/test_helm_with_space_into_chart_name.yml
  tests/unit/modules/test_module_helm.py
Labels: mergeit

#660 Update python kubernetes library to 24.2.0 , helm/kind-action to 1.8.0
  .github/workflows/integration-tests.yaml
  README.md
  changelogs/fragments/update_supported_versions.yaml
  plugins/inventory/k8s.py
  plugins/lookup/k8s.py
  plugins/module_utils/common.py
  plugins/module_utils/k8s/core.py
  plugins/modules/k8s.py
  plugins/modules/k8s_cluster_info.py
  plugins/modules/k8s_cp.py
  plugins/modules/k8s_drain.py
  plugins/modules/k8s_exec.py
  plugins/modules/k8s_info.py
  plugins/modules/k8s_json_patch.py
  plugins/modules/k8s_log.py
  plugins/modules/k8s_rollback.py
  plugins/modules/k8s_scale.py
  plugins/modules/k8s_service.py
  plugins/modules/k8s_taint.py
  requirements.txt
  tests/unit/module_utils/test_core.py
Labels: mergeit

#662 Prepare for release 3.0.0
  CHANGELOG.rst
  Makefile
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/20230206-deprecate-k8s-inventory.yml
  changelogs/fragments/20231110-helm-quote-ref.yaml
  changelogs/fragments/517-k8s-make-name-optional.yaml
  changelogs/fragments/575-helm-add-support-for-reuse_values-and-reset_values.yml
  changelogs/fragments/579-k8s_scale-fix-issue-with-scaling-statefulsets.yml
  changelogs/fragments/583-k8s_scale-clean-handling-of-ResourceTimeout-exception.yaml
  changelogs/fragments/586-helm-fix-post-renderer-arg.yml
  changelogs/fragments/588-helm-use-post-renderer-for-helmdiff.yml
  changelogs/fragments/589-helm-uninstall-chart-releases-with-statuses-different-than-deployed.yaml
  changelogs/fragments/606-k8s_drain-add-pod_selectors-parameter.yaml
  changelogs/fragments/612-fix-helm-tests.yaml
  changelogs/fragments/629-add-hidden-fields-option.yaml
  changelogs/fragments/gha-sanity-fixes.yaml
  changelogs/fragments/helm-delete-temporary-file-created-when-using-option-release_values.yaml
  changelogs/fragments/remove_ansible_2_13.yaml
  changelogs/fragments/update_supported_versions.yaml
  docs/kubernetes.core.helm_info_module.rst
  docs/kubernetes.core.helm_module.rst
  docs/kubernetes.core.helm_plugin_info_module.rst
  docs/kubernetes.core.helm_plugin_module.rst
  docs/kubernetes.core.helm_repository_module.rst
  docs/kubernetes.core.helm_template_module.rst
  docs/kubernetes.core.k8s_cluster_info_module.rst
  docs/kubernetes.core.k8s_cp_module.rst
  docs/kubernetes.core.k8s_drain_module.rst
  docs/kubernetes.core.k8s_exec_module.rst
  docs/kubernetes.core.k8s_info_module.rst
  docs/kubernetes.core.k8s_inventory.rst
  docs/kubernetes.core.k8s_json_patch_module.rst
  docs/kubernetes.core.k8s_log_module.rst
  docs/kubernetes.core.k8s_lookup.rst
  docs/kubernetes.core.k8s_module.rst
  docs/kubernetes.core.k8s_rollback_module.rst
  docs/kubernetes.core.k8s_scale_module.rst
  docs/kubernetes.core.k8s_service_module.rst
  docs/kubernetes.core.k8s_taint_module.rst
  docs/kubernetes.core.kubectl_connection.rst
  docs/kubernetes.core.kustomize_lookup.rst
  galaxy.yml
  plugins/module_utils/common.py
  plugins/module_utils/k8s/service.py
Labels: mergeit, test-all-the-targets, skip-changelog

#663 Update main branch post 3.0.0 release
  CHANGELOG.rst
  Makefile
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/20230206-deprecate-k8s-inventory.yml
  changelogs/fragments/20231110-helm-quote-ref.yaml
  changelogs/fragments/517-k8s-make-name-optional.yaml
  changelogs/fragments/575-helm-add-support-for-reuse_values-and-reset_values.yml
  changelogs/fragments/579-k8s_scale-fix-issue-with-scaling-statefulsets.yml
  changelogs/fragments/583-k8s_scale-clean-handling-of-ResourceTimeout-exception.yaml
  changelogs/fragments/586-helm-fix-post-renderer-arg.yml
  changelogs/fragments/588-helm-use-post-renderer-for-helmdiff.yml
  changelogs/fragments/589-helm-uninstall-chart-releases-with-statuses-different-than-deployed.yaml
  changelogs/fragments/606-k8s_drain-add-pod_selectors-parameter.yaml
  changelogs/fragments/612-fix-helm-tests.yaml
  changelogs/fragments/629-add-hidden-fields-option.yaml
  changelogs/fragments/gha-sanity-fixes.yaml
  changelogs/fragments/helm-delete-temporary-file-created-when-using-option-release_values.yaml
  changelogs/fragments/remove_ansible_2_13.yaml
  changelogs/fragments/update_supported_versions.yaml
  docs/kubernetes.core.helm_info_module.rst
  docs/kubernetes.core.helm_module.rst
  docs/kubernetes.core.helm_plugin_info_module.rst
  docs/kubernetes.core.helm_plugin_module.rst
  docs/kubernetes.core.helm_repository_module.rst
  docs/kubernetes.core.helm_template_module.rst
  docs/kubernetes.core.k8s_cluster_info_module.rst
  docs/kubernetes.core.k8s_cp_module.rst
  docs/kubernetes.core.k8s_drain_module.rst
  docs/kubernetes.core.k8s_exec_module.rst
  docs/kubernetes.core.k8s_info_module.rst
  docs/kubernetes.core.k8s_inventory.rst
  docs/kubernetes.core.k8s_json_patch_module.rst
  docs/kubernetes.core.k8s_log_module.rst
  docs/kubernetes.core.k8s_lookup.rst
  docs/kubernetes.core.k8s_module.rst
  docs/kubernetes.core.k8s_rollback_module.rst
  docs/kubernetes.core.k8s_scale_module.rst
  docs/kubernetes.core.k8s_service_module.rst
  docs/kubernetes.core.k8s_taint_module.rst
  docs/kubernetes.core.kubectl_connection.rst
  docs/kubernetes.core.kustomize_lookup.rst
  galaxy.yml
  plugins/module_utils/common.py
  plugins/module_utils/k8s/service.py
Labels: mergeit, skip-changelog
