Repository ansible-collections/kubernetes.core, pull requests merged in 2025-08, with the labels that each got.

#980 Reapply "Remove kubeconfig value from module invocation log (#826)"
  changelogs/fragments/20250411-kubeconfig-no_log-revert.yaml
  plugins/module_utils/args_common.py
  plugins/module_utils/helm_args_common.py
Labels: mergeit, skip-changelog

#970 Prep kubernetes.core 5.4.0 release
  CHANGELOG.rst
  Makefile
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/20250503-fix-unit-tests.yml
  changelogs/fragments/20250605-fix-helm_registry_auth-integration_test.yaml
  galaxy.yml
Labels: mergeit, skip-changelog

#977 Prep kubernetes.core 6.1.0
  CHANGELOG.rst
  Makefile
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/20250428-k8s-service-hide-fields-first.yaml
  changelogs/fragments/20250522-add-plain-http-for-oci-registries.yaml
  changelogs/fragments/20250605-fix-helm_registry_auth-integration_test.yaml
  changelogs/fragments/20250704-k8s-rollback-integration-test-coverage.yaml
  changelogs/fragments/20250720-k8s-patch-add-hidden-fields.yaml
  changelogs/fragments/20250911-add-support-helm-take-ownership.yaml
  docs/ansible_turbo_mode.rst
  docs/kubernetes.core.helm_module.rst
  docs/kubernetes.core.helm_pull_module.rst
  docs/kubernetes.core.helm_template_module.rst
  docs/kubernetes.core.k8s_json_patch_module.rst
  galaxy.yml
Labels: mergeit

#989 Changelog fixes
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: mergeit, backport-5, backport-6
